body {
  text-align: center;
}

.divBtn {
  height: 200px;
  width: 200px;
  border-radius: 20%;
  border: 10px solid black;
  margin: 2.5rem;
}

#containerDiv {
  display: flex;
  justify-content: center;
}

.red {
  background: #d55075;
}

.yellow {
  background: #fa903b;
}

.green {
  background: #58a0b9;
}

.purple {
  background: #7794f8;
}

.flash {
  background: whitesmoke;
}

.userFlash {
  background: cyan;
}
