<!DOCTYPE html>
<%- include("includes/head.ejs") %>

    <body>
        <h1>
            <%= "This is home page" .toUpperCase() %>
        </h1>
        <h2>
            <%= ["hello saddam","hello rehan","hello zaki"][0].toUpperCase() %>
        </h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, hic. Minima mollitia illo quod, eos ex
            molestias accusantium aliquid iste blanditiis dolorem fugit, tempore at aspernatur fugiat cumque. Possimus,
            libero aliquid consequuntur ut minus praesentium laborum perferendis repellat! Aperiam, dignissimos. Maxime
            obcaecati minus dolores dolore voluptatum animi, neque, officiis suscipit nulla porro labore esse
            necessitatibus
            praesentium omnis odio in officia aperiam! Cum dicta omnis quia maiores similique ipsam doloribus molestiae
            doloremque perspiciatis, porro voluptatibus ullam, ipsa eius? Ratione odio qui blanditiis nobis in voluptas
            aperiam repudiandae eligendi. Aliquid, dolore fugit voluptas error libero pariatur, assumenda quis illum
            quae
            vel esse!
        </p>
        <button>click me</button>
        <%- include("includes/footer.ejs") %>
            <script src="/app.js"></script>
    </body>

    </html>